apiVersion: v1
kind: Service
metadata:
  name: wordpress
  namespace: kactus-app
  labels:
    app: wordpress
spec:
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30000
  selector:
    app: wordpress
    tier: frontend
  type: NodePort